#container1 {
    position: static;
    margin: 1%;
    padding: 0%;
    width: 98%;
}
.h1 {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}
.navmenu {
    float: right; 
    display: inline-block;
}
ul {
    display: inline-block;
}
li {
    display: inline-block;  
}
a {
    color: black;
}
#myart {
    margin: 0px;
    position: relative;
    left: 0;
    width: 338px;
    height: 299px;
    }
    #myart img {
        width: 100%;
        display: block;
    }
#content {
    position: relative;
}
#content #text {
    width: 21em;
    height: 6em;
}
p1 {
    width: 21em;
    height: 9%;
}
#container2 {
    overflow: hidden;
    background-color: lightgray;
    width: 100%;
    height: 11em;
}
#left-element {
    float: left;
    left: 9px;
    top: 9px;
    width: 21%;
    font-size: 4em;
}
#middle-element {
   position: absolute;
    float: left;
    margin: 0 auto;
    bottom: 19em;
    text-align: end;
}
#right-element {
    text-align: left;
    margin: auto;
    position: absolute;
    padding: 1%;
    right: 5em;
    width: 60%;
    height: 8em;
    border: 3px solid;
    bottom: 29%;
}
.con3536 {
    padding: 5%;
    margin: 0%;
    width: 101%;
    height: 1%;
}
.con35 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 38%;
    top: 40em;
    right: 11.5%;
}
.con36 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 38%;
    top: 40em;
}
#container3 {
    position: absolute;
    margin: 1%;
    float: left;
    clear: both;
    width: 71%;
    height: 27%;
    top: 62em;
}
.con4 {
    padding: 1%;
    margin: 1%;
    width: 21%;
    position: absolute;
    top: 39em;
}
.con45 {
    position: absolute;
    padding: 1%;
    margin: 1%;
    top: 117.5em;
    right: 6em;
}
.con46 {
    position: absolute;
    padding: 1%;
    margin: 1%;
    top: 118.9em;
    right: 6em;
}
#container5 {
    position: relative;
    padding: 1%;
    margin: 1%;
    top: 41em;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
footer {
    position: absolute;
    display: inline-flex;
    width: 69%;
    padding: 1%;
    margin: 1%;
    height: 5%;
}
.thanks {
    position: relative;
    height: 33%;
}