  .body {
    display: block;
    margin: 8px;
}
.menu {
    float: right;
    margin: 1px 0 20px 10px;
}
.h1 {
   margin: 20px 30px 30px 10px;
}
.myart {
    width: 200px;
    height: 200px;
    position: relative;
    left: 21px;
    }
    .h2{
   font-size: 250%;
    white-space: nowrap;
    position: absolute;
    top: 528px;
    width: 100%;
    left: 29px;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    }
    .h3{
    font-size: 93%;
    white-space: nowrap;
    position: relative;
    top: 207px;
    right: -21px;
    }
    .picrow {
    position: absolute;
    bottom: 10px;
    }